body {
  background-color: black;
  margin: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

p {
  font-family: "Overpass", sans-serif;
  color: white;
}

.main {
  width: 412px;
  height: 416px;
  background-color: #181e27;
  border-radius: 30px;
}

.divForMargin {
  padding-left: 40px;
  padding-top: 32px;
  padding-right: 32px;
}
.circle {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #262e38;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.forText1 {
  height: 30px;
}

.fortext2 {
  width: 340px;
  margin-bottom: 24px;
}

.text1 {
  font-weight: bold;
  font-size: 28px;
  margin: 0;
  text-align: left;
}

.text2 {
  width: 340px;
  color: #969fad;
  font-size: 15px;
  line-height: 1.6;
}

.buttonelement {
  background-color: #262e38;
  color: #969fad;
  height: 51px;
  width: 51px;
  border-radius: 50%;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttonelement:hover {
  background-color: #fc7614;
  color: #262e38;
}

.rating-count {
  display: flex;
  gap: 20px;
}

.forSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.submitButton {
  width: 279px;
  height: 45px;
  border-radius: 22.5px;
  color: #131518;
  font-size: 14px;
  background-color: #fc7614;
  border: none;
  font-weight: bold;
  font-family: "Overpass";
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: white;
}
